<!--
Copyright 2017 The Upspin Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
{{define "title"}}{{.Title}}{{end}}
{{define "styles"}}
img {
  max-width: 100%;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #666;
  padding: .25em .45em;
}
.menu {
 float: right;
}
{{end}}
{{define "before-content"}}
	<div class="menu">
		{{if ne .FileName "index.md"}}
			{{if ne .FileName "doc.md"}}
				<a href="/doc/">Documentation</a>
			{{end}}
			<a href="/">Upspin</a>
		{{end}}
	</div>
{{end}}
{{define "content"}}{{.Content}}{{end}}
