<!--
Copyright 2017 The Upspin Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
{{define "title"}}Download Upspin{{end}}
{{define "content"}}
	<h1>Download Upspin</h1>
	<p>
		This page provides binary downloads of the <code>upspin</code>
		command-line tool and the <code>upspinfs</code> and
		<code>cacheserver</code> daemons.
		Read the <a href="/doc/signup.md">Signing up a new user</a>
		document for a guide to getting started with these tools.
	</p>
	<p>
		Choose a build for your operating system and processor architecture:
	</p>
	<ul>
	{{range .Content}}
		<li>
			<a href="{{.FileName}}">{{.FileName}}</a>
			{{with .OSArch}}({{.}}){{end}}
			{{with .Size}}({{.}}){{end}}
		</li>
	{{else}}
		<li>No builds are available. Please try again later.</li>
	{{end}}
	</ul>
	<p>
		You can find the full list of past builds in the
		<a href="/release@upspin.io">release@upspin.io</a> Upspin tree.
	</p>
{{end}}
